body{
    overflow-y:  scroll;
    background-color: #ededed;
    font-family: roboto;
    padding-top: 50px;
}

.top{
    width: 100%;
    height: auto;
    min-height: 150px;
    display: flex;
    justify-content: space-between;
}

.top{
  border-bottom: solid 5px #ededed;
}


nav{
    width: 100%;
    height: auto;

}

nav ul{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

nav ul li{
    margin:20px;
    height: 40px;
}

nav ul li a{
    text-transform: uppercase;
    color: #1f1f1f;
    text-decoration: none;
    font-size: 24px;
    border-bottom:solid  0px rgba(0,0,0,0.0);
    webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

nav ul li a:hover{
    border-bottom:solid  4px rgba(0,0,0,0.8);
    webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
} 

#top #logo {
    padding: 50px;
    text-align: center;
    font-family: roboto;
    font-size: 60px;
    background-color: #1f1f1f;
    border-radius: 120px;
    color: #fff;
    margin: 10px;
}
#container {
    width: 100%;
    height: auto;
}

.slider{
    width: 100%;
    height: 600px;
    background-color: #1f1f1f;
    border-top: solid 2px #000;
    border-bottom: solid 2px #000;
    float: left;
}

.slider:hover .sliderContent h2 {
    text-shadow:0px 0px 10px #fff;
    webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.sliderContent{
    width: 100%;
    padding-top:220px;

}
.sliderContent h2{
    width: 100%;
    text-align: center;
    color: #333333;
    text-shadow:0px 0px 5px #000;
    font-size: 6vw;
    webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.showcase{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    float: left;
    padding-top: 50px;
}

.showLine{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.box{
    width: 25%;
    height: 300px;
    text-shadow: 0px 0px 2px #000;
    background-color: #1f1f1f;
    margin: 20px;
    border-radius: 10px;
   border: solid 1px #000;
   color: #ededed!important;
   font-size: 24px;
   -moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;
   text-align: center;
}

#box1, #box2, #box3{
    text-align: center;
    text-shadow: 0px 0px 2px #000;
    width: 25%;
    height: 300px;
    background-color: #1f1f1f;
    margin: 20px;
    border-radius: 10px;
   border: solid 1px #000;
   color: #ededed!important;
   font-size: 24px;
   -moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;
}


footer{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    float: left;
    margin-top: 50px;
    background-color: #1f1f1f;
}

.footerContent{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.footerBox{
    width: 25%;
    height: 200px;
    background-color: #333333;
    margin: 20px;
    border-radius: 10px;
    box-shadow:0px 0px 10px #000;
}


/*SCROLL*/
::-webkit-scrollbar {
    width: 12px;
    border-left: solid 1px #1f1f1f;
}

/* Track */
::-webkit-scrollbar-track {
}

/* Handle */
::-webkit-scrollbar-thumb {
    background:#1f1f1f;
}
::-webkit-scrollbar-thumb:window-inactive {
    background:#1f1f1f;
}


@media screen and (max-width: 1024px){
    .showLine{
        flex-direction: column;
       
    }

    .box{
        width: 100%!important;
        margin-left: 0px!important;
        margin-right: 0px!important;
        border: none!important;
        border-radius: 0px!important;
    }

    #box1, #box2, #box3{
        width: 100%!important;
        margin-left: 0px!important;
        margin-right: 0px!important;
        border: none!important;
        border-radius: 0px!important;
    }
}    

